/* ==========================================================
   ACTIONS
========================================================== */

.container {
  display: flex;

  align-items: center;

  gap: 0.5rem;

  width: 100%;
}

/* ==========================================================
   BUTTONS
========================================================== */

.container > .btn {
  flex: 0 1 auto;
}

/* ==========================================================
   RESPONSIVE
========================================================== */

@media (max-width: 480px) {
  .container {
    flex-wrap: wrap;
  }

  .container > .btn {
    flex: 1 1 auto;
  }
}
