.wrapper {
  padding: 16px 20px;
  border-radius: 18px;
  max-width: none;
  margin: auto;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 340px));
  gap: 14px;
  justify-content: start;
}
